@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=NotoSans");
body {
  font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
}
text {
  color: #4a4a4a;
  fill: #4a4a4a;
  stroke: none;
}
.y-axis .domain,
.x-axis .domain {
  fill: #888;
}
